{% extends "_base.html" %}


{% block body %}
<h1>Entrer dans Zam</h1>
<form method="POST" class="intro">
    <input type="hidden" name="email" value="{{ email }}">
    <fieldset>
        {% if request.session.pop('bad_credentials', None) %}
            <p class="error">Le courriel ou le mot de passe est incorrect.</p>
        {% endif %}
        <label for="password">Votre mot de passe Zam</label>
        <input type="password" name="password" required>
    </fieldset>
    <input type="submit" class="button primary enabled" value="Entrer dans Zam">
</form>
{% endblock %}
